/*  version 1.20  SA script
*/
/*html, body {
	color: black;
/*	background-image: url(img/background-clouds.jpg);  */
	margin: 0 0 0 0;
	background-color: #ACA8A1;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 73%;  			/* Enables font size scaling in MSIE */
}
html > body {
	font-size: 9pt;
}
*/
#pagina {
	border: 0px solid #959596;
	border-radius: 5px;
	margin: 0px auto;
	color: black;
	background-color: #E8E9E8;
	padding: 0;
	min-width: 500px;				
}
table {border-collapse:collapse;border-spacing:0;}
.genericTable { 
border-collapse: collapse;
width: 100%;
color: black;
text-align: center;
}
.row-dark {
background-color: #EEEEEE;
}
.row-light {
background-color: transparent;
}
.genericTable .table-top {font-size: 90%; font-weight: bold; text-align: center;}
.dateline {
	vertical-align: middle;
	height: 28px;
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-spacing: 4px;
	border-color: gray;
}
.verwachting {
          width: 100%;
          border-collapse: collapse;
          border-radius: 8px;
         -moz-border-radius: 8px;
         -webkit-border-radius: 8px;
         -o-border-radius: 8px;
         -khtml-border-radius: 8px;
        background-color: inherit;
		font-family: verdana, helvetica, arial, sans-serif;
		font-size: 14px; 
}

.trLow  	{height: 10px; font-size: 2px;}
.tijd {
         padding-left: 10px;

         text-align: left;
         font-size: 80%;
}
.dmj {
 /*        color: #014d89;  */
        text-align: center;  
         font-size: 80%;
}
.dagNaam {
         width: 15%;
         color: white;

         text-align: center;
         font-size:100%; 
         font-weight:bold;
         border-color: #014D89;
         border-style: solid;
         border-width: 1px 1px 0px 1px;
}
.stationnaam {
         color: white;
         padding: 0 10px 0 10px;
         background-color: #ffC683;
         text-align: left;
         font-size:100%; 
         font-weight:bolder;
         border-color: #014D89;
         border-style: solid;
         border-top-width: 1px; 
         border-right-width: 0px;
         border-left-width: 0px;
         border-bottom-width: 0px;

}
.stationurl {
         padding: 0 10px 0 10px;
         height: 12px;
         background-color: #FD9C00;
         text-align: left;
         font-size:80%; 
         font-weight:bolder;
         border-color: #014D89;
         border-style: solid;
    	 border-right-width: 0px;
    	 border-top-width: 0px;
         border-left-width: 0px;
         border-bottom-width: 1px;
}
.samenwerking {
         color: white;
         text-shadow: black 0.2em 0.2em 0.2em;
         text-align: right;
         font-size:80%; 
         font-weight:bold;
}
.toelichting {

         font-size: 80%;
         text-align: right;
         padding-right: 6px;
}
.lwaarden {
         font-weight: bold;
   		 border: medium none;
    	 border-collapse: collapse;
         padding: 0;
         border-right-width: 0px;
         border-top-width: 0px;
         border-bottom-width: 0px;
         text-align: center;
         border-color: #014D89;
         border-style: solid;
         border-left-width: 1px;        
}
.rwaarden {
         font-weight: bold;
   		 border: medium none;
    	 border-collapse: collapse;
    	 padding: 0;
         border-left-width: 0px;
    	 border-top-width: 0px;
    	 border-bottom-width: 0px;
         text-align: center;
         border-color: #014D89;
         border-style: solid;
         border-right-width: 1px;
}
.pastel  			{color:  black;		background-color: #F1F8FE;}
.pastel li.tabberactive a {background-color: #B7D0E8;}
.pastel .table-top 	{color: white; background-color: #336699;}
.pastel .row-dark 	{background-color: #B7D0E8;}

.green  			{color:  black;		background-color: #D5DCCA ;}
.green 	li.tabberactive a {background-color: #ADCCC5;}
.green 	.table-top 	{background-color: #A7BF8E;}
.green 	.row-dark 	{background-color: #B1CBA0;}

.blue  				{color:  black;		background-color: #F1F8FE;}
.blue 	li.tabberactive a {background-color: #B7D0E8;}
.blue 	.table-top 	{background-color: #96C6F5;}
.blue 	.row-dark 	{background-color: #B7D0E8;}

.beige  			{color:  black;		background-color: #FFF7ED;}
.beige 	li.tabberactive a {background-color: #E3D7C5;}
.beige 	.table-top 	{background-color: #CCBFAD;}
.beige 	.row-dark 	{background-color: #E3D7C5;}

.orange  			{color:  black;		background-color: #F9F0DD;}
.orange li.tabberactive a {background-color: #E9C781;}
.orange .table-top 	{background-color: #E9C781;}
.orange .row-dark 	{background-color: #E6D89C;}
/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;

}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
 text-align: left;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
.tabbernav
{
 margin:0;
 padding: 0 3px ;
 border-bottom: 0px solid #778;
 font: bold 12px Verdana, sans-serif;
}

.tabbernav li
{
 list-style: none;
 min-height:40px;
 margin: 0;
 display: inline;
}
h2 {height:40px;}
.tabbernav li a
{
 padding: 3px 0.5em;
 min-height: 40px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 margin-left: 3px;
 border: 1px solid #778;
  border-bottom: none;
/* background-color: #AAA;  */
 text-decoration: none;
 color: black;
}
/*
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
*/
.tabbernav li a:hover
{
 color: #000;
 background: white;
 border-bottom: none;
}

.tabbernav li.tabberactive a
{
/*  background-color: #fff; */
 border-bottom: none;
 height:40px;
}
/*
ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: none;
} */

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding: 3px;
 border:0px solid #aaa;
/* height: 500px; */
 overflow:auto;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}
